@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model PracticeMvc2.Models.LoginViewModel


@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <input type="submit" value="Login" />
    @Html.ValidationSummary()
}